Ty Stratton, 4/8/2025 Database Practice

In [1]:
import zoo
zoo.hours()

Open 9-5 daily

In [2]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [8]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

conn.commit()
conn.close()

OperationalError: table books already exists

In [14]:
import sqlite3
import csv

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

with open('books2.csv', newline='', encoding='utf-8') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        cursor.execute(
            'INSERT INTO books (title, author, year) VALUES (?, ?, ?)',
            (row['title'], row['author'], int(row['year']))
        )

conn.commit()
conn.close()

In [15]:
from sqlalchemy import create_engine, MetaData, Table, select

# Connect to the SQLite database
engine = create_engine('sqlite:///books.db')
connection = engine.connect()

metadata = MetaData()
books = Table('books', metadata, autoload_with=engine)
query = select(books.c.title).order_by(books.c.title)
results = connection.execute(query)

for row in results:
    print(row.title)

connection.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

I wasn't familiar with SQLAlchemy so I had to google how to create that query into the database.